body {
    background-color: #202429 !important;
}

.navbar-default {
    border: none !important;
    background-color: transparent !important;
    color: white !important;
    font-size: 1.5vw;
    transition: all 1s;
}

.navbar-default a {
    color: white !important;
}

.navbar-default a:hover {
    background-color: #ffffff;
    opacity: 0.3;
}

.navbar-brand {
    font-size: 1.5vw !important;
    transition: font-size 1s;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.logo_menubar {
    transition: width 1s;
}

.navbar-brand.affix {
    font-size: 1vw !important;
}

.navbar-default.affix {
    font-size: 1vw;
    background-color: #23282d !important;
    /* Add additional styles here for the COLLAPSED state */
}

.logo_menubar.affix {
    width: 30px !important;
    z-index: 100;
}

.navbar-default .navbar-nav>li>.affix {
    color: white;
    margin-left: 2vw;
}

.linkedin {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    margin-right: 2vw;
    transition: opacity 1s;
}

.linkedin:hover {
    background-color: #ffffff;
    opacity: 0.5;
}

.splashbillede {
    padding: 0 !important;
    background-image: url(img/skrivebord_billede3.jpg);
    width: 100vw;
    height: 52vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 2vw;
}

.typing_carousel {
    position: absolute;
    color: white;
    font-size: 4vw;
    font-weight: bold;
    top: 35%;
    left: 18%;
}

.mig {
    border-radius: 0.5vw;
}

.FrontEnd_Design_beskrivelse li {
    font-size: 1vw;
}

.hojre_design_diagram {
    float: right;
}

.runde_kanter {
    border-radius: 0.5vw;
}

.portfolio_venstre {
    -webkit-box-shadow: 0px 44px 42px -32px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 44px 42px -32px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 44px 42px -32px rgba(0, 0, 0, 0.75);
    transition: opacity 1s;
}

.portfolio_venstre:hover {
    background-color: #ffffff;
    opacity: 0.5;
}

.portfolio_venstremidt {
    -webkit-box-shadow: 0px 44px 42px -32px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 44px 42px -32px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 44px 42px -32px rgba(0, 0, 0, 0.75);
    transition: opacity 1s;
}

.portfolio_venstremidt:hover {
    background-color: #ffffff;
    opacity: 0.5;
}

.portfolio_hojremidt {
    -webkit-box-shadow: 0px 44px 42px -32px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 44px 42px -32px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 44px 42px -32px rgba(0, 0, 0, 0.75);
    transition: opacity 1s;
}

.portfolio_hojremidt:hover {
    background-color: #ffffff;
    opacity: 0.5;
}

.portfolio_hojre {
    -webkit-box-shadow: 0px 44px 42px -32px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 44px 42px -32px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 44px 42px -32px rgba(0, 0, 0, 0.75);
    transition: opacity 1s;
}

.portfolio_hojre:hover {
    background-color: #ffffff;
    opacity: 0.5;
}

.titel_portfolio {
    color: white;
    margin-top: 1.5vw;
}

.portfolio_padding {
    padding-right: 2vw !important;
    padding-left: 2vw !important;
}

.btn-light {
    transition: opacity 0.2s;
}

.btn-light:hover {
    background-color: #ffffff;
    opacity: 0.5;
}

.lukke_knap {
    margin-top: 1vw;
}

#animatedModal {
    background-color: #202429 !important;
}

.modal-content {
    background-color: #202429 !important;
}

.cirkel {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 30px;
    color: black;
    line-height: 150px;
    text-align: center;
    background: #566a62
}

.cirkel_udd {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    font-size: 30px;
    color: black;
    line-height: 150px;
    text-align: center;
    background: #566a62
}

.cirkel_erhverv {
    width: 250px;
    height: 150px;
    border-radius: 50%;
    font-size: 30px;
    color: black;
    line-height: 150px;
    text-align: center;
    background: #566a62
}

@media screen and (max-width: 414px) {
    /* Københavnerture - forside start */
    .mobiltLosning_margin {
        margin-bottom: 4vw;
    }
    /* Københavnerture - forside slut */
}
